<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<style>
			a {
				height: 50px;
			}
			
			li {
				height: 40px;
				padding: -50px;
				margin: 0px;
			}
			
			select,
			input {
				margin-top: -20px;
			}
			
			.mui-content {
				background-color: white;
			}
			
			.mui-input-group:before,
			.mui-input-group:after {
				background: rgba(0, 0, 0, 0);
			}
			
			.mui-card {
				margin: 0px;
				border-bottom: 1px solid #CCCCCC;
				border-radius: 0px;
			}
			
			.mui-btn-blue,
			.mui-btn-primary,
			input[type=submit] {
				margin-top: 10px;
				width: 100%;
				border: 0px;
				border-radius: 0px;
				height: 40px;
				background: #00B6EC;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">修改课表</h1>
		</header>

		<div class="mui-content"  id="content">
			<form class="mui-input-group" style="margin-top: 18px;">
				<div class="mui-card">
					<ul class="mui-table-view" style="margin-top: 0px;">
						<li class="mui-table-view-cell " style="background-color: powderblue;">
							<h5>周次：</h5>
						</li>
						<li class="mui-table-view-cell ">
							<a class="mui-navigate-right" style="height: 40px;" style="margin-top: -50;">
								<select v-model="choose_week" class="mui-input-clear mui-navigate-right" v-cloak>
									<option v-for="option in week" v-bind:value="option.value">
										{{ option.text }}
									</option>
								</select>
							</a>

						</li>
					</ul>
				</div>
				<div class="mui-card" style="margin-top: 18px;">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell " style="background-color: powderblue;">
							<h5>节次：</h5>
						</li>
						<li class="mui-table-view-cell " style="height: 40px;">
							<a class="mui-navigate-right">
								<select v-model="choose_section" class="mui-input-clear mui-navigate-right" v-cloak>
									<option v-for="option in section" v-bind:value="option.value">
										{{ option.text }}
									</option>
								</select>
							</a>

						</li>
					</ul>
				</div>
				<div class="mui-card" style="margin-top: 18px;">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell " style="background-color: powderblue;">
							<h5>内容：<span style="font-size: 10px;">(如需删课，清空课程内容，确认即可)</span></h5>
						</li>
						<textarea rows="4" placeholder="输入课程内容" onkeyup="autoGrow(this);" v-model="course"></textarea>
					</ul>
				</div>
				<div class="mui-button-row">
					<button class="mui-btn mui-btn-primary" type="button" v-on:click="xiugai">确认修改</button>
				</div>
			</form>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/myjs.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				swipeBack: true
			});
			mui.plusReady(function() {
				var vm = new Vue({
					el: '#content',
					data: {
						choose_week: 1,
						week: [{
							text: '星期一',
							value: 1
						}, {
							text: '星期二',
							value: 2
						}, {
							text: '星期三',
							value: 3
						}, {
							text: '星期四',
							value: 4
						}, {
							text: '星期五',
							value: 5
						}, {
							text: '星期六',
							value: 6
						}, {
							text: '星期天',
							value: 7
						}],
						choose_section: 1,
						section: [{
							text: '第一节',
							value: 1
						}, {
							text: '第二节',
							value: 2
						}, {
							text: '第三节',
							value: 3
						}, {
							text: '第四节',
							value: 4
						}, {
							text: '第五节',
							value: 5
						}, {
							text: '设计实习',
							value: 6
						}, {
							text: '备注',
							value: 7
						}],
						course: plus.storage.getItem('"' + 1 + '"'),
						course_num: 1
					},
					computed: {},
					methods: {
						xiugai: function() {
							num = '"' + this.course_num + '"'
							plus.storage.setItem(num, this.course);
							AlertCourse(this.course_num, this.course)
							var list = plus.webview.getWebviewById('list.html');
							//触发list页面更新
							mui.fire(list, 'customEvent', {});
							plus.nativeUI.toast('修改成功 ')
						}
					}
				})
				vm.$watch(
						function() {
							var course_num = (this.choose_section - 1) * 7 + this.choose_week;
							if (this.choose_section == 7) {
								course_num = 43
							}
							this.course_num = course_num;
							return course_num;
						},
						function(newVal, oldVal) {
							this.course = plus.storage.getItem('"' + newVal + '"');
						}
					)
					//				document.getElementById('nr').value=plus.storage.getItem("1");
			})
		</script>
	</body>

</html>