html,body{
	background: #F4F4F4;
	font-family: '微软雅黑','Helvetica Neue', Helvetica, sans-serif;
}
.mui-content{
	background: #F4F4F4;
}
.mui-bar {
	background-color: #33cccc;
	caption-side: white;
}
.mui-bar a{
	color: #fff;
}
.mui-bar .mui-title{
	color: white;
}
input{
	color: #777;
}
input[type=text], input[type=password]{
	border-radius: 0px;
}
