<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>迷你课表</title>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" href="css/style.css" />

		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/myjs.js"></script>
		<style type="text/css">
			/*.title {
				margin: 35px 15px 10px;
			}
			
			.title+.content {
				margin: 10px 15px 35px;
				color: #bbb;
				text-indent: 1em;
				font-size: 14px;
				line-height: 24px;
			}
			
			.mui-table-view {
				margin-bottom: 35px;
			}
			
			.usermessage .mui-navigate-right:after,
			.mui-push-right:after {
				top: 70%;
			}
			
			#nc {
				overflow: inherit;
			}*/
		</style>
	</head>

	<body class="index-menu">
		<div class="mui-content">

			<ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted" id="i-menu">
				<li class="mui-table-view-cell usermessage">
					<a class="mui-navigate-right" open-type="common" href="usermessage.html">
						<div class="user_face">
							<!--<img id="face" src="images/80.png" />-->
							<span id="intro" class="intro">
								<h1 class="mui-ellipsis" id="nc" v-cloak>{{nc}}</h1>
								<p id="day"></p>
							</span>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" open-type="" href="kb.html">
						<span class="menu-icon iconfont">&#xe656;</span>
						全部课表
					</a>
				</li>
				<li class="mui-table-view-cell" v-if="xx">
					<a class="mui-navigate-right" open-type="common" href="searchclass.html">
						<span class="menu-icon iconfont">&#xe664;</span>
						我要蹭课
					</a>
				</li>
				<li class="mui-table-view-cell" v-if="xx">
					<a class="mui-navigate-right" open-type="common" href="searchroom.html">
						<span class="menu-icon iconfont">&#xe6d6;</span>
						查空教室
					</a>
				</li>
				<li class="mui-table-view-cell" v-if="xx">
					<a class="mui-navigate-right" open-type="common" href="calendar.html">
						<span class="menu-icon iconfont">&#xe669;</span>
						校历查询
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" open-type="common" href="xgkb.html">
						<span class="menu-icon iconfont">&#xe696;</span>
						修改课表
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" open-type="common" href="im-chat.html">
						<span class="menu-icon iconfont">&#xe65f;</span>
						客服小课
					</a>
				</li>
				<!--<li class="mui-table-view-cell">
					<a class="mui-navigate-right" open-type="common" href="other.html">
						其他功能
					</a>
				</li>-->
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" open-type="common" href="setting.html">
						<span class="menu-icon mui-icon mui-icon-settings"></span>
						设置<span class="mui-badge mui-badge-danger" v-if="is_warn" v-cloak>1</span>
					</a>
				</li>
			</ul>
		</div>
		<footer>
			<div class="logout"><a id="logout">登出</a></div>
		</footer>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				gestureConfig: {
					tap: true, //默认为true
					swipe: true, //默认为true
				}
			});
			var aniShow = "pop-in";
			//关于backbutton和menubutton两个按键的说明，在iOS平台不存在，故需隐藏
			if (!mui.os.android) {
				var span = document.getElementById("android-only")
				if (span) {
					span.style.display = "none";
				}
				aniShow = "pop-in";
			}
			var subWebview = null,
				template = null,
				index = null;
			mui.plusReady(function() {
		var vm = new Vue({
						el: '#i-menu',
						data: {
							version: 'V' + plus.runtime.version,
							old_version:'V' + localStorage.getItem('warn_num'),
							school:plus.storage.getItem('xx'),
							nc:plus.storage.getItem("nc")||'小课'
						},
						computed: {
							is_warn: function() {
									return this.old_version != this.version?1:0; 
							},
							xx: function() {
								var school = this.school;
								var bl = 1;
								if (school == 'yd1') {
									bl = 0;
								}
								return bl;
							}
						}
					})
					//监听storage改变事件
				window.addEventListener("storage", function(e) {
					if(e.key == 'warn_num'){
						vm.old_version = 'V' + plus.runtime.version;
					}else if(e.key == 'xx'){
						vm.school = localStorage.getItem('xx');
					}
				});
				window.addEventListener('up_nick', function(event) {
					GetStartTime();
					vm.nc = plus.storage.getItem("nc");
					vm.school = plus.storage.getItem('xx');
				})
				GetStartTime(); 
				
			})
			mui('.mui-table-view').on('tap', 'a', function() {
				var id = this.getAttribute("href");
				var type = this.getAttribute("open-type");
				var href = this.href;
				var webview_style = {
					popGesture: "close",
					bounce: 'all',
					scalable: true,
					scrollIndicator: 'none'
				};
				if (type == "common" || (mui.os.ios)) {
					mui.openWindow({
						id: id,
						url: href,
						styles: webview_style,
						show: {
							aniShow: aniShow
						},
						waiting: {
							autoShow: false
						}
					});
				} else {
					var href = this.href;
					var title = this.innerText;
					template = plus.webview.getWebviewById("default-main");
					//获得共用子webview
					subWebview = template.children()[0];
					//通知模板修改标题，并显示隐藏右上角图标；
					mui.fire(template, 'updateHeader', {
						title: title,
						showMenu: true,
						statusBarBackground: '#33cccc'
					});
					if (subWebview.getURL() != href) {
						subWebview.loadURL(href);
						subWebview.setStyle(webview_style);
					} else {
						subWebview.show();
					}
					template.show('slide-in-right', 200);
				}
			});
			/**
			 * 关闭侧滑菜单
			 */
			function close() {
				mui.fire(mui.currentWebview.opener(), "menu:close");
			}
			//在android4.4.2中的swipe事件，需要preventDefault一下，否则触发不正常
			window.addEventListener('dragstart', function(e) {
				mui.gestures.touch.lockDirection = true; //锁定方向
				mui.gestures.touch.startDirection = e.detail.direction;
			});
			window.addEventListener('dragleft', function(e) {
				if (!mui.isScrolling) {
					e.detail.gesture.preventDefault();
				}
			});
			//监听左滑事件，若菜单已展开，左滑要关闭菜单；
			window.addEventListener("swipeleft", function(e) {
				if (Math.abs(e.detail.angle) > 170) {
					close();
				}
			});
			//实现注销登录，返回到登录界面
			document.getElementById('logout').addEventListener('tap', function() {
				list = plus.webview.getWebviewById('list.html');
				mui.fire(list, "login", '');
				plus.storage.clear();
				mui.back();
			});
		</script>
	</body>

</html>