<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<style>
			.mui-content {
				background-color: white;
			}
			
			.mui-table-view:after,
			.mui-table-view:before {
				height: 0px;
			}
			
			.mui-bar-nav~.mui-content {
				padding: 0;
			}
			
			.mui-table h4,
			.mui-table h5,
			.mui-table .mui-h5,
			.mui-table .mui-h6,
			.mui-table p {
				margin-top: 0;
			}
			
			.mui-table h4 {
				line-height: 21px;
				font-weight: 500;
			}
			
			.mui-table .oa-icon {
				position: absolute;
				right: 0;
				bottom: 0;
			}
			
			.mui-table .oa-icon-star-filled {
				color: #f14e41;
			}
			
			.changcolor5 {
				background-color: powderblue;
			}
			
			.changcolor1 {
				background-color: #e4e4ee;
			}
			
			.changcolor2 {
				background-color: #dff0d8;
			}
			
			.changcolor3 {
				background-color: #d9edf7;
			}
			
			.changcolor4 {
				background-color: #fcf8e3;
			}
			
			.bgcolor {
				background-color: #F6ECE4;
			}
			
			.mui-text-right {
				width: 50px;
			}
			
			li {
				margin: 20px 2px;
			}
			
			.cell {
				position: relative;
				padding: 11px 15px;
				overflow: hidden;
				-webkit-touch-callout: none;
			}
			
			.mui-row.mui-fullscreen>[class*="mui-col-"] {
				height: 100%;
			}
			
			.mui-col-xs-3,
			.mui-control-content {
				overflow-y: auto;
				height: 100%;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 50px;
				width: 100%;
			}
			
			#segmentedControlContents {
				background-color: white;
			}
			
			ul li p {
				white-space: pre-line;
			}
		</style>

	</head>

	<body>
		<div class="mui-content mui-row mui-fullscreen" id="list">
			<div class="mui-col-xs-2">
				<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical" v-cloak>
					<a class="mui-control-item" v-for="item in 7" href="#content{{item+1}}">{{item|hanzi}}</a>
					<!--<a id="c8" class="mui-control-item" href="#content8"> 听说</a>-->
				</div>
			</div>
			<div id="segmentedControlContents" class="mui-col-xs-10" style="border-left: 1px solid #c8c7cc;">
				<div v-for="i in 7" id="content{{i+1}}" class="mui-control-content" v-cloak>
					<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
						<li v-for="j in 5" class="cell changcolor{{j+1}}" v-if="course[j*7+i]" track-by="course[j*7+i]">
							<div class="mui-table">
								<div class="mui-table-cell">
									<h4 class="mui-ellipsis">第{{j|hanzi}}大节</h4>
									<p>{{{course[j*7+i]}}}</p>
									<p class="mui-h6 mui-ellipsis mui-pull-right">{{j|coursetime}}</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div id="content8" class="mui-control-content mui-content mui-scroll-wrapper" v-clock>
					<div class="mui-scroll" style="position: inherit;">
						<ul class="mui-table-view  mui-table-view-chevron">
							<li class="mui-table-view-cell mui-media" v-for="item in message">
								<a v-on:click.stop="mess(item.article_id)">
									<img class="mui-media-object mui-pull-left" src="{{item.imgurl}}">
									<div class="mui-media-body">
										{{item.title}}
										<p class='mui-ellipsis'>{{item.suolue}}</p>
									</div>
								</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>

		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/myjs.js"></script>
		<script>
//			document.getElementById('c8').addEventListener('tap', function() {
//				tingshuo()
//			})

			function tingshuo() {
				mui('#content8').pullRefresh().pullupLoading();
			}
			mui.plusReady(function() {
				mui.init({
					swipeBack: true, //启用右滑关闭功能
					pullRefresh: {
						container: '#content8',
						up: {
							contentrefresh: '努力加载中...',
							contentnomore: '没有更多数据了',
							//							auto:true,
							callback: pullupRefresh
						}
					},
					preloadPages: [{
						id: 'detail.html',
						url: 'detail.html'
					}]
				});
				if (!plus.storage.getItem('ex')) {
					mui.openWindow('login.html')
				}
				CheckStorage();
				document.addEventListener("resume", function() {
					list.course = course_data();
					closeMenu();
				}, false);

				function course_data() {
					var cou = new Array();
					for (var i = 1; i <= 43; i++) {
						cou.push(plus.storage.getItem('"' + i + '"'));
					}
					//					console.log(JSON.stringify(cou))
					return cou;
				}
				var course = course_data();
				Vue.filter('hanzi', function(x) {
					var w = ['周一', '周二', '周三', '周四', '周五', '周六', '周日', "听说"];
					return w[x];
				})
				Vue.filter('coursetime', function(x) {
					var w = ['8:00~9.40', '10:00~11.40', '14.00~15.40', '16.00~17.40', '19.00~20.40'];
					return w[x];
				})
				var list = new Vue({
					el: "#list",
					data: {
						course: course,
						day: Getday(),
						message: [],
						page: 1,
						detailPage:null
					},
					computed: {},
					methods: {
						mess: function(id) {
							//获得详情页面
							if (!this.detailPage) {
								this.detailPage = plus.webview.getWebviewById('detail.html');
							}
							//触发详情页面的newsId事件
							mui.fire(this.detailPage, 'newsId', {
								id: id
							});
							//打开详情页面          
							mui.openWindow({
								id: 'detail.html' 
							});
						}
					},
					ready: function() {
						var controls = document.getElementById("segmentedControls").querySelectorAll('.mui-control-item')[this.day - 1].classList;
						controls.add('mui-active');
						controls.add('bgcolor');
						var tadaycl = document.getElementById('content' + this.day).classList;
						tadaycl.add('mui-active')
					},
				})

				function pullupRefresh() {
					mui.ajax('http://kb.fddcn.cn/message/controller/get_article.php', {
						data: {
							page: list.page,
							c: 'GetMessageByPage'
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'get', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							//							console.log(JSON.stringify(data))
							for (var i = 0; i < data.length; i++) {
								list.message.push(data[i])
							}
							var i = data.length;
							isture = 0;
							if (i < 20) {
								isture = 1;
							}
							mui('#content8').pullRefresh().endPullupToRefresh(isture);
						},
						error: function(xhr, type, errorThrown) {
							//异常处理；
							plus.nativeUI.toast("网络错误，请稍后重试！")
						}
					});
					list.page++;
				}
				document.addEventListener("swiperight", function() {
					var index = '';
					!index && (index = mui.currentWebview.parent());
					mui.fire(index, 'menu:open');
				});
				var aniShow = "pop-in";
				var templates = {};
				var getTemplate = function(name, header, content) {
					var template = templates[name];
					if (!template) {
						//预加载共用父模板；
						var headerWebview = mui.preload({
							url: header,
							id: name + "-main",
							styles: {
								popGesture: "hide",
							},
							extras: {
								mType: 'main'
							}
						});
						//预加载共用子webview
						var top_margin = parseInt(localStorage.immersed) + 45;
						var subWebview = mui.preload({
							url: 'kb.html', //直接预加载课表页面
							id: name + "-sub",
							styles: {
								top: top_margin,
								bottom: '0px',
								bounce: 'all',
								scalable: true,
								scrollIndicator: 'none'
							},
							extras: {
								mType: 'sub'
							}
						});
						//关闭等待框
						plus.nativeUI.closeWaiting();
						subWebview.addEventListener('loaded', function() {
							setTimeout(function() {
								subWebview.show();
							}, 50);
						});
						subWebview.hide();
						headerWebview.append(subWebview);
						//iOS平台支持侧滑关闭，父窗体侧滑隐藏后，同时需要隐藏子窗体；
						if (mui.os.ios) { //5+父窗体隐藏，子窗体还可以看到？不符合逻辑吧？
							headerWebview.addEventListener('hide', function() {
								subWebview.hide("none");
							});
						}
						templates[name] = template = {
							name: name,
							header: headerWebview,
							content: subWebview,
						};
					}
					return template;
				};
				var initTemplates = function() {
					getTemplate('default', 'examples/template.html');
				};
				window.addEventListener('customEvent', function(event) {
					//					document.getElementById('course_list').innerHTML = '';
					//					GetTodayClass();
					var menu = plus.webview.getWebviewById('index-menu');
					//触发菜单页更新昵称
					if (menu)
						mui.fire(menu, 'up_nick', {});
					list.course = course_data();
					console.log('页面更新')
					subWebview = plus.webview.getWebviewById('default-sub');
					if (event.detail.page != 'all')
						subWebview.reload(true);
				})
				plus.navigator.closeSplashscreen();
				plus.navigator.setFullscreen(false);
				//初始化模板
				initTemplates();
			})
			var index = null; //主页面
			function openMenu() {
				!index && (index = mui.currentWebview.parent());
				mui.fire(index, "menu:open");
			}

			function closeMenu() {
				!index && (index = mui.currentWebview.parent());
				mui.fire(index, "menu:close");
			}
			//在android4.4.2中的swipe事件，需要preventDefault一下，否则触发不正常
			window.addEventListener('dragstart', function(e) {
				mui.gestures.touch.lockDirection = true; //锁定方向
				mui.gestures.touch.startDirection = e.detail.direction;
			});
			window.addEventListener('dragright', function(e) {
				if (!mui.isScrolling) {
					e.detail.gesture.preventDefault();
				}
			});
			//监听右滑事件，若侧滑菜单未显示，右滑要显示菜单；
			window.addEventListener("swiperight", function(e) {
				//默认滑动角度在-45度到45度之间，都会触发右滑菜单，为避免误操作，可自定义限制滑动角度；
				if (Math.abs(e.detail.angle) < 4) {
					openMenu();
				}
			});
			//退出登录之后执行
			window.addEventListener('login', function(event) {
				closeMenu();
				mui.openWindow('login.html')
			});
			if (!localStorage.holiday) {
				Getxiaoli()
			}
		</script>

	</body>

</html>